/*styles go here*/
/*Typography*/

html {
  font-size: 100%;
}
p {
  color: grey;
  font-family: 'Slabo 27px', Georgia, "Times New Roman",serif;
  text-align: center;
}

.italic {
  font-style: italic;
}

h1{
  font-family: 'Oswald', Helvetica, Arial,sans-serif;
  font-size: 3rem;
  color: #800000;
  text-align: center;
  line-height: 4rem;
}

h2 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  color: #800000;
  text-align: center;
}

h3 {
  font-family: 'Slabo 27px', Georgia, "Times New Roman",serif;
  color: #696969;
  text-align: center;
  font-size: 2rem;
  line-height: 0.8rem

}

/*Container div*/

/*#container {
  width: 95%;
  margin: 0 auto;
}*/

/*Navigation styles*/
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 4px;
  border-bottom: 1px solid black;
  background-color: #800000;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
}

.navigation li:last-of-type a {
  border-bottom: none;
}

/*.navigation a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #800000;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
}*/

.navigation a:hover, a:active {
  background-color: #a9a9a9;
}


/*Colors for different parts of page*/
/*header {
  background: yellow;
}*/

.aside-1 {
  background: #800000;
}

.aside-2 {
  background: #800000;
}

/*Image data*/
.caption {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 0;
}

img {
  border: none;
  width: 55%;
  padding: 15px;
}

/*Setting up flexible boxes for our content*/

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

/*These styles activate when the page is larger than 800px wide*/

@media (min-width: 800px)  {

  .navigation {
    flex-flow: row rap;
    justify-content: flex-end;
  }

  .navigation a {
    border: none;
  }


}
